.myImg {
  border-radius: 5px;
}

.myImg:hover {
  opacity: 0.7;
  transform: scaleX(1.03) scaleY(1.03);
  transition: 0.7s ease-in-out;
  cursor: pointer;
}

.imgRotate {
  animation: rotation 2s infinite linear;
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
}
